body{
    background-color: rgb(216, 211, 196);
    font-family: 'Overlock', sans-serif;
    color: rgb(143, 130, 117);
    margin: 0;
    padding: 20px;
    padding-top: 0px;
}

.encabezado {
      -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(89, 62, 37, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 20px;
      border-radius: 12px;
      margin: 40px;
      height: 100px;
      width: 90%;
      overflow: visible;
    z-index: 2;
    }

    .en-center {
      display: flex;
      justify-content: center;
      flex: 1;
      gap: 40px;
    }

     .en-center a {
        text-decoration: none;
    }

    .en-center h1 {
        color: #ffcc00;
      font-family: 'Nerko One', sans-serif;
      font-size: 100px;
      width: 800px;
      height: 100px;
      left: 50%;
      transform: translateX(15%);
      display: flex;
      align-items: center;
      cursor: pointer;
      z-index: 3;
    }

    .negri-container { 
      position: absolute;
      top: -55px;
      left: 60%;
      width: 220px; /* MÁS ANCHO para el texto */
      text-align: center;
      z-index: -2;
    }

    .negri-wrapper {
      position: relative;
      width: 140px;
      height: 140px;
      margin: 0 auto;
      overflow: visible;
    }
    .negri-wrapper:hover {
        transform: translateY(-40%);
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }

    .negri {
      width: 100%;
      height: auto;
      cursor: pointer;
      border-radius: 10px;
    }
    
.marquee-container {
    width: 98%;
    height: 20%;
    overflow: hidden;
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(89, 62, 37, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    padding: 10px 0;
    top: 22%;
    height: 50px;
    z-index: 2;
    }

    .marquee {
      font-family: 'Coiny', cursive;
      display: inline-block;
      font-weight: bold;
      white-space: nowrap;
      animation: scroll-left 20s linear infinite;
      font-size: 1.2rem;
      color: #ffd000;
    }

    @keyframes scroll-left {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }

   nav {
    width: 600px;
    position: relative;
    top: 100px;
    left: 33%;
    padding: 10px;
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(89, 62, 37, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    }

    .navbar {
        display: flex;
      justify-content: center;
      gap: 3rem;
    }

    .navbar a {
        font-weight: bold;
       color: rgb(196, 207, 216);
      text-decoration: none;
      font-size: 1.1rem;
      transition: color 0.3s;
    }

    .navbar a:hover {
      color: #ffcc00;
    }

    .navbar a.active {
      color: #ffcc00;
      text-decoration: underline;
    }

.bienvenida {
  text-align: center;
  margin-top: 200px;
  padding: 30px;
  text-align: center;
  background-image: url('/src/recursos/fnd.png'); /* opcional fondo con textura */
  background-size: cover;
  background-color: #1a1a1a;
  color: #ffffff;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);;
}
.bienvenida h2 {
  font-family: 'Nerko One', sans-serif;
  font-size: 60px;
  color: #ffd000;
  margin-bottom: 20px;
}
.bienvenida p {
  font-size: 30px;
  color: rgb(82, 73, 65);
}

.menu {
  padding: 40px 20px;
  text-align: center;
}

.menu h2 {
  font-family: 'Nerko One', sans-serif;
  font-size: 60px;
  color: rgb(82, 73, 65);
  margin-bottom: 20px;
}

.platos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.plato {
      -webkit-backdrop-filter: blur(16px) saturate(180%);
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(89, 62, 37, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 15px;
  padding: 15px;
  width: 280px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.plato:hover {
    transform: scale(1.05);
}

.plato img {
  width: 100%;
  border-radius: 10px;
}

.plato h3 {
  font-family: 'Nerko One', sans-serif;
  font-size: 24px;
  color: #ffd000;
  margin-bottom: 10px;
}

.plato p {
  font-size: 18px;
  color: rgb(196, 207, 216);
  margin-bottom: 10px;
}

.plato ul li {
    font-size: 20px;
    color: rgb(229, 255, 0);
    margin: 5px 0;
}